<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<input type="text" @input="search" v-model="input" />
			<ul>
				<li v-for="book in filteredBooks">{{ book }}</li>
			</ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					books: [
						'Pengantar Kecerdasan Buatan',
						'Animasi Komputer',
						'Sistem Informasi Manajemen',
						'Kewirausahaan',
						'Teori Informasi',
						'Basis Data',
						'Struktur Data',
						'Interaksi Manusia Komputer',
					],
					filteredBooks: [
						'Pengantar Kecerdasan Buatan',
						'Animasi Komputer',
						'Sistem Informasi Manajemen',
						'Kewirausahaan',
						'Teori Informasi',
						'Basis Data',
						'Struktur Data',
						'Interaksi Manusia Komputer',
					],
					input: '',
				},
				methods: {
					search: function () {
						this.filteredBooks = this.books.filter(item => item.toLowerCase().includes(this.input.toLowerCase()));
					},
				},
			});
		</script>
	</body>
</html>
