<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz 5</title>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model:value="userInput" />
			<button @click="addSubmit" v-if="edit !== false">update</button>
			<button @click="addSubmit" v-else>add</button>
			<ul style="list-style-type: disc">
				<li v-for="(user, index) in users">
					<div style="display: flex; align-items: center">
						{{ user.name }}
						<div style="display: flex; align-items: center; margin-left: 30px; gap: 10px">
							<div>
								<button @click="editUser(index)">Edit</button>
							</div>
							<p>||</p>
							<div>
								<button @click="deleteUser(index)">Delete</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					userInput: '',
					edit: false,
					users: [
						{
							name: 'Farhan Abdul Hamid',
						},
						{
							name: 'Hanif',
						},
						{
							name: 'Akbar',
						},
					],
				},
				methods: {
					addSubmit: function () {
						console.log(this.edit);
						if (this.edit !== false) {
							this.users[this.edit].name = this.userInput;
						} else if (this.userInput !== '') {
							this.users.push({ name: this.userInput });
						}
						this.edit = false;
						this.userInput = '';
					},
					editUser: function (key) {
						this.userInput = this.users[key].name;
						this.edit = key;
						console.log(this.edit);
					},
					deleteUser: function (key) {
						let confirmed = confirm(`Apakah kamu yakin ingin mendelete ${this.users[key].name} ?`);
						if (confirmed) {
							this.edit = false;
							this.users.splice(key, 1);
						}
					},
				},
			});
		</script>
	</body>
</html>
